.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3000;
    background-color: $clr-wah;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    .container {
        height: calUni(70px);
        justify-content: space-between;
        align-items: center;

        @include m-breakpoint-down(small) {
            height: 3.625rem;
        }
    }

    &--logo {
        width: calUni(145px);

        @include m-breakpoint-down(small) {
            width: 6.0625rem;
        }
    }

    &--content {
        .button-wrapper {
            @include flex-center;

            
        }
        .nav-btn {
            font-size: 1.75rem;
            color: $clr-bluewood;
            margin: 0 calUni(16px);

            &:nth-child(1){
                font-size: 1.365rem;
            }

            &:nth-child(3){
                margin-right: 0;
            }
        }
    }

    .search-hidden {

        @include m-breakpoint-down(small){
            opacity: 0;
            visibility: hidden;
            transform: translateX(-50%) translateY(-30px);
        }
        
    }

    .search-active {

        @include m-breakpoint-down(small) {
            opacity: 1;
            visibility: visible;
            transform: translateX(-50%) translateY(0px);
        }
        
    }

    &--form {
        display: flex;
        justify-content: center;
        align-items: center;

        width: calUni(527px);
        height: calUni(40px);
        position: relative;
        margin: 0 16px;
        transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);

        @include m-breakpoint-down(large){
            width: 17.9375rem;
        }

        @include m-breakpoint-down(small){
            position: absolute;
            left: 50%;
            top: 65px;
            transform: translateX(-50%);
            margin: 0;
        }

        input {
            width: 100%;
            height: 100%;
            border: 1px solid $clr-eastbay;
            border-radius: 3px;
            outline: none;
            transition: all 200ms ease;
            font-family: $font-heading;
            text-indent: 5px;
            color: $clr-eastbay;

            &:focus {
                border-color: $clr-trinidad;
            }
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
            width: calUni(50px);
            height: 100%;
            color: $clr-wah;
            background-color: $clr-eastbay;
            border-radius: 0px 3px 3px 0px;
        }
    }
}

.menuOption {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    background-color: $clr-wah;
    right: 10px;
    top: calUni(50px);
    transition: all 200ms ease-in-out;
    padding: calUni(10px) 15px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    display: flex;
    flex-direction: column;

    button {
        font-family: $font-heading;
        padding: 5px 10px;
        color: $clr-dark;
        transition: all 200ms ease;
        &:hover {
            color: $clr-trinidad;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        }
    }

    button:not(:last-child){
        margin-bottom: 10px;
    }
    
}

.nav-menu-btn:hover + .menuOption {
    visibility: visible;
    opacity: 1;
}

.menuOption:hover {
    visibility: visible;
    opacity: 1;
}

input::-webkit-calendar-picker-indicator {
    display: none !important;
  }

.dark {
    .navbar {
        background-color: $clr-dark;

        &--content {
            .nav-btn {
                color: $clr-wah;
            }
        }

        &--form {
            input {
                border-color: $clr-bondi;
            }
            button {
                background-color: $clr-bondi;
            }
        }
    }
}
  