.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3000;
    background-color: $clr-wah;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    .container {
        height: calUni(70px);
        justify-content: space-between;
        align-items: center;

        @include m-breakpoint-down(small) {
            height: 3.625rem;
        }
    }

    &--logo {
        width: calUni(145px);

        @include m-breakpoint-down(small) {
            width: 6.0625rem;
        }
    }

    &--content {
        .button-wrapper {
            @include flex-center;
        }
        .nav-btn {
            font-size: 1.75rem;
            color: $clr-bluewood;
            margin: 0 calUni(16px);

            &:nth-child(1){
                font-size: 1.365rem;
            }

            &:nth-child(3){
                margin-right: 0;
            }
        }
    }

    .search-hidden {

        @include m-breakpoint-down(small){
            opacity: 0;
            transform: translateX(-50%) translateY(-30px);
        }
        
    }

    .search-active {

        @include m-breakpoint-down(small) {
            opacity: 1;
            transform: translateX(-50%) translateY(0px);
        }
        
    }

    &--form {
        display: flex;
        justify-content: center;
        align-items: center;

        width: calUni(527px);
        height: calUni(40px);
        position: relative;
        margin: 0 16px;
        transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);

        @include m-breakpoint-down(large){
            width: 17.9375rem;
        }

        @include m-breakpoint-down(small){
            position: absolute;
            left: 50%;
            top: 65px;
            transform: translateX(-50%);
            margin: 0;
        }

        input {
            width: 100%;
            height: 100%;
            border: 1px solid $clr-eastbay;
            border-radius: 3px;
            outline: none;
            transition: all 200ms ease;
            font-family: $font-heading;
            text-indent: 5px;
            color: $clr-eastbay;

            &:focus {
                border-color: $clr-trinidad;
            }
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
            width: calUni(50px);
            height: 100%;
            color: $clr-wah;
            background-color: $clr-eastbay;
            border-radius: 0px 3px 3px 0px;
        }
    }
}

input::-webkit-calendar-picker-indicator {
    display: none !important;
  }
  